In [10]:
# import statements
import pandas as pd

# Part 1: Load in sequence data. 
## Change file_name here!

In [11]:
# enter a .csv with sequences
data_dir = 'toehold_sequences/'
file_name = '30_nt_sequences.csv' # CHANGE FILENAME!
data_df = pd.read_csv(data_dir + file_name,sep=',', header=0)
data_df.rename(columns = {0:'switch_sequence'}, inplace = True) 
data_df.head(3)

                   30_nt_sequence
0  AAAAAAAAAAAAAAAAAATGGAAAACAGTT
1  AAAAAAAAAAAAATGGAAAACAGTTACTAA
2  AAAAAAAAATTACTACTATTGTTAATTTAG

In [12]:
switches = data_df['30_nt_sequence'] # may need to change depending on your column name

# Part 2: Helper functions for 30nt-->59nt

In [13]:
rbs = 'AACAGAGGAGA'
start_codon = 'ATG'

In [14]:
# Make function to generate reverse compliment of the DNA strand
def make_rev_complement(string):
    new_str = ''
    for s in string:
        char = ''
        if s == 'A':
            char = 'T'
        elif s == 'T':
            char = 'A'
        elif s == 'C':
            char = 'G'
        elif s == 'G':
            char = 'C'
        else:
            print('UH OH! Character not A, T, C, or G')
        new_str += char
    new_str = new_str[::-1]
    return new_str

In [15]:
# Make function to check for stop codons
def check_for_stop(toehold): 
    stop_codons = ['TAG', 'TAA', 'TGA']
    location_of_start = 47
    search1 = toehold.find(stop_codons[0]) == location_of_start
    search2 = toehold.find(stop_codons[1]) == location_of_start
    search3 = toehold.find(stop_codons[2]) == location_of_start
    return (search1 | search2  | search3)

# Part 3: Transform 30nt to 59nt

In [16]:
# Make function to actually turn trigger into toehold
def turn_switch_to_toehold(switch):
    stem1 = make_rev_complement(switch[24:30])
    stem2 = make_rev_complement(switch[12:21])
    toehold = switch + rbs + stem1 + start_codon + stem2
    return toehold

In [17]:
toeholds = [turn_switch_to_toehold(x) for x in switches]
print('Total of ' + str(len(toeholds)) + ' number of switches.')
no_stop = [x for x in toeholds if not check_for_stop(x)]
print('After checking for stop codons, total of ' + str(len(no_stop)) + ' number of switches.')

Total of 99 number of switches.
After checking for stop codons, total of 99 number of switches.

In [18]:
all_new_toeholds = pd.DataFrame(no_stop)
all_new_toeholds.rename(columns = {0:'59_nt_sequence'}, inplace = True) 
all_new_toeholds.to_csv(data_dir + '59_nt_sequences.csv') # change if you would like to save to different directory
all_new_toeholds.head()

                                      59_nt_sequence
0  AAAAAAAAAAAAAAAAAATGGAAAACAGTTAACAGAGGAGAAACTG...
1  AAAAAAAAAAAAATGGAAAACAGTTACTAAAACAGAGGAGATTAGT...
2  AAAAAAAAATTACTACTATTGTTAATTTAGAACAGAGGAGACTAAA...
3  AAAAAAAATAACGTAGGACTACTACTTGGAAACAGAGGAGATCCAA...
4  AAAAAAAATGGAAAACAGTTACTAATATGTAACAGAGGAGAACATA...