In [1]:
# import statements
import pandas as pd

# Part 1: Load in sequence data. 
## Change file_name here!

In [2]:
# enter a .csv with sequences
data_dir = 'toehold_sequences/'
file_name = 'example_switches.csv' # CHANGE FILENAME!
data_df = pd.read_csv(data_dir + file_name,sep=',', header=None)
data_df.rename(columns = {0:'switch_sequence'}, inplace = True) 
data_df.head(3)

                                     switch_sequence
0  AAAAAAAAAAAAAAAAAATGGAAAACAGTTAACAGAGGAGAAACTG...
1  AAAAAAAAAAAAATGGAAAACAGTTACTAAAACAGAGGAGATTAGT...
2  AAAAAAAAATTACTACTATTGTTAATTTAGAACAGAGGAGACTAAA...

# Part 2: Transform data using python script

In [5]:
switches = data_df['switch_sequence']
!ipython change_30nt_to_59nt.py switches

]0;IPython: Toehold_STORM/storm